{% extends "base.html" %}

{% block content %}

<!-- <div class="loader"></div> -->

	<div class="content-selection tbpadding">

		<form method="POST" action=""> <!-- empty action means it will post back to the same route -->
			{{ form.hidden_tag() }}
			{{ form.csrf_token }}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4"> Group! </legend>

				<div class="form-group number" id="numOfGroups">
					{{ form.num_groups.label(class="form-control-label") }}

					{% if form.num_groups.errors %}
						{{form.num_groups(class="form-control form-control-lg is-invalid")}}
						<div class="invalid-feedback">
							{% for error in form.num_groups.errors %}
								<span> {{error}} </span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.num_groups(class="form-control form-control-lg") }}
					{% endif %}
				</div>

				<div class="form-group lengthdecrease">
					{{ form.differentiator.label(class="form-control-label") }}

					{% if form.differentiator.errors %}
						{{form.differentiator(class="form-control form-control-lg is-invalid")}}
						<div class="invalid-feedback">
							{% for error in form.differentiator.errors %}
								<span> {{error}} </span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.differentiator(class="form-control form-control-lg") }}
					{% endif %}
				</div>

				
				<div class="form-group lengthdecrease" id="class">
					{{ form.students.label(class="form-control-label") }}

					{% if form.students.errors %}
						{{form.students(class="form-control form-control-lg is-invalid")}}
						<div class="invalid-feedback">
							{% for error in form.students.errors %}
								<span> {{error}} </span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.students(class="form-control form-control-lg") }}
					{% endif %}
				</div>

				<div class="form-group" id="radiob">
					{% for subfield in form.service %}
					    <tr>
					        <td>{{ subfield }}</td>
							<td>{{ subfield.label }}</td>
					    </tr>
					{% endfor %}
					{% if form.service.errors %}
						{% for error in form.service.errors %}
							<span> {{error}} </span>
						{% endfor %}
					{% endif %}
				</div>

				<div id="useremail">

				<div class="form-group lengthdecrease">
					{{form.gmail.label}}
					{% if form.gmail.errors %}
						{{form.gmail(class="form-control form-control-lg is-invalid")}}
						<div class="invalid-feedback">
							{% for error in form.gmail.errors %}
								<span> {{error}} </span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.gmail(class="form-control form-control-lg") }}
					{% endif %}
				</div>

				<div class="form-group lengthdecrease">
					{{form.gmail_password.label(class="form-control-label")}}
					<div>
						{{form.gmail_password(class="form-control form-control-lg")}}

					</div>
				</div>

				<div class="form-group">
					{{form.send_email.label(class="form-control-label")}}
				
					{{form.send_email}}

				

		

					{% if form.send_email.errors %}
						{% for error in form.send_email.errors %}
							<span> {{error}} </span>
						{% endfor %}
					{% endif %}
				</div>

			</div>
			<div class="form-group">
				{{ form.submit(class="btn btn-outline-warning") }}
			</div>
			</fieldset>

			
		</form>

	</div>

{% endblock content %}
{% block javascript %}
  <script>
	$(document).ready(function() {

	$("loader").css("display", "none");

    var $groupBy = $("#differentiator"),
      $class = $("#class"),
	  $numG = $("#numOfGroups"),
	  $mail = $("#useremail"),
	  $none = $("#service-2");
	  $zoom = $("#service-1");
	  $meet = $("#service-0");

	  $mail.hide();

    
    $groupBy.on('change', function() {
      if ($groupBy.val() === "Gender"||$groupBy.val() === "Homeroom"||$groupBy.val() === "Nationality"||$groupBy.val() === "Random") {
        $class.show();
        $numG.show();
      } else {
        $class.hide();
        $numG.hide();
      }
	});

	$none.click(function(){
		$mail.hide();
	});

	$meet.click(function(){
		$mail.show();
		$("body").css("overflow", "visible");

	});
	$zoom.click(function(){
		$mail.show();
		$("body").css("overflow", "visible");


	});

	$("#submit").click(function(){
		$("loader").show();
		$("body").css("opacity", "0.5")
	})


  
  })
  
  </script>
{% endblock javascript%}